.menu {
    width: 100%;
    height: 100%;
    flex-wrap: nowrap;
}

#Check-Img {
    width: 200px;
    height: 100px;
}

#Title-Img {
    width: 300px;
}

.menu .btn {
    cursor:pointer;
    border:none;
    margin-top: 5px;
}

.menu-content{
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

#btn-box {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: center;
    margin-right: 10px;
    margin-left: 10px;
    height: 100%;
}

#play-btn {
    background-image: url(../assets/img/YellowButton.svg);
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0);
    background-size: cover;
    border: none;
    height: 60px;
    width: 255px;
    margin: 5px;
}

#leader-board-btn {
    background-image: url(../assets/img/RedButton.svg);
    background-repeat: no-repeat;
    background-color: none;
    background-color: rgba(255, 255, 255, 0);
    background-size: cover;
    border: none;
    height: 60px;
    width: 235px;
    margin: 5px;
}

#home-btn {
    background-image: url(../assets/img/BlueButton.svg);
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0);
    background-size: cover;
    border: none;
    height: 55px;
    width: 205px;
    margin: 5px;
}

.footer {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width:39.69%;
    bottom: 0;
    right: 0;

}

.footer img{
    width: 50%;
    padding-left: 20px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/* Minimum width for laptops. */
@media all and (min-width: 769px) {

    .footer {
        width:170.69px;
        bottom: 0;
        left: 55%;
        transform: translateX(-55%);
    
    }
    
    .footer img{
        width: 50%;
        padding-left: 20px;
    }
    
} /* closes 769px+ */

/* Minimum width for desktop screens. */
@media all and (min-width: 1024px) {
} /* closes 1024px+ */