<div class="menu">
  <div class="container">
    <div class="menu-content">
      <img
        id="Check-Img"
        src="../../../../assets/img/reaction/checker-flags.svg"
        alt="Crossed Checkerd Flags"
      />
      <img
        id="Title-Img"
        src="../../../assets/img/reaction/title.svg"
        alt="Are you faster than a Nascar driver?"
      />
    </div>
    <div id="btn-box">
      <button
        class="btn"
        id="play-btn"
        type="button"
        (click)="displayAvatarSelect()"
      ></button>
      <button
        class="btn"
        id="leader-board-btn"
        (click)="displayLeaderBoard()"
      ></button>
      <a href="#" routerLink="/"
        ><button class="btn" id="home-btn"></button>
      </a>
    </div>
  </div>
  <div class="footer">
    <img
      src="../../../assets/img/reaction/columbia-logo.png"
      alt="Columbia College Chicago Logo"
    />
    <img
      src="../../../assets/img/reaction/nascar-chicago-logo.png"
      alt="Chicago Nascar Logo"
    />
  </div>
</div>
