<app-header id="header"></app-header>

<div id="activity-book">
  <div class="SkewBox">
    <img
      id="ActiHeader"
      src="../../../assets/img/activity/ActivityHeader.svg"
      alt=""
    />
    <img
      id="SquashActiHeader"
      src="../../../assets/img/activity/SquashActivityHeader.svg"
      alt=""
    />
    <img
      id="SolidBlue"
      src="../../../assets/img/activity/BlueSolid.svg"
      alt=""
    />
    <a href="../../../assets/img/activity/activity-book-p1-merged.pdf"
      ><img
        id="HollowBlue"
        src="../../../assets/img/activity/SelectAllButton.svg"
        alt=""
    /></a>
  </div>
  <div class="PdfGrid">
    <div class="ImageContainer">
      <img src="../../../assets/img/activity/Pg-1-TestKnowledge.svg" alt="" />
      <a href="../../../assets/img/activity/"
        ><img
          id="icon"
          src="../../../assets/img/activity/DownloadBttn.svg"
          alt=""
      /></a>
    </div>
    <div class="ImageContainer">
      <img src="../../../assets/img/activity/Pg-2-TheMaze.svg" alt="" />
      <a href="../../../assets/img/activity/activity-book-p2.pdf">
        <img
          id="icon"
          src="../../../assets/img/activity/DownloadBttn.svg"
          alt=""
      /></a>
    </div>
    <div class="ImageContainer">
      <img src="../../../assets/img/activity/Pg-3-WordSearch.svg" alt="" />
      <a href="../../../assets/img/activity/activity-book-p3.pdf">
        <img
          id="icon"
          src="../../../assets/img/activity/DownloadBttn.svg"
          alt=""
      /></a>
    </div>
    <div class="ImageContainer">
      <img src="../../../assets/img/activity/Pg-6-SkylineCar.svg" alt="" />
      <a href="../../../assets/img/activity/SkylinePage.pdf">
        <img
          id="icon"
          src="../../../assets/img/activity/DownloadBttn.svg"
          alt=""
        />
      </a>
    </div>
    <div class="ImageContainer">
      <img src="../../../assets/img/activity/Pg-5-Flags.svg" alt="" />
      <a href="../../../assets/img/activity/activity-book-p5.pdf">
        <img
          id="icon"
          src="../../../assets/img/activity/DownloadBttn.svg"
          alt=""
        />
      </a>
    </div>
    <div class="ImageContainer">
      <img src="../../../assets/img/activity/Pg-4-Dot.svg" alt="" />
      <a href="../../../assets/img/activity/DotPage.pdf">
        <img
          id="icon"
          src="../../../assets/img/activity/DownloadBttn.svg"
          alt=""
        />
      </a>
    </div>
  </div>
</div>
