<app-header id="header"></app-header>

<div id="activity-book">
  <div class="SkewBox">
    <img id="ActiHeader" src="../../../assets/img/ActivityHeader.svg" alt="" />
    <img
      id="SquashActiHeader"
      src="../../../assets/img/SquashActivityHeader.svg"
      alt=""
    />
    <img id="SolidBlue" src="../../../assets/img/BlueSolid.svg" alt="" />
    <a href="../../../assets/img/activity-book-p1-merged.pdf"
      ><img
        id="HollowBlue"
        src="../../../assets/img/SelectAllButton.svg"
        alt=""
    /></a>
  </div>
  <div class="PdfGrid">
    <div class="ImageContainer">
      <img src="../../../assets/img/Pg-1-TestKnowledge.svg" alt="" />
      <a href="../../../assets/img/activity-book-p1.pdf"
        ><img id="icon" src="../../../assets/img/DownloadBttn.svg" alt=""
      /></a>
    </div>
    <div class="ImageContainer">
      <img src="../../../assets/img/Pg-2-TheMaze.svg" alt="" />
      <a href="../../../assets/img/activity-book-p2.pdf">
        <img id="icon" src="../../../assets/img/DownloadBttn.svg" alt=""
      /></a>
    </div>
    <div class="ImageContainer">
      <img src="../../../assets/img/Pg-3-WordSearch.svg" alt="" />
      <a href="../../../assets/img/activity-book-p3.pdf">
        <img id="icon" src="../../../assets/img/DownloadBttn.svg" alt=""
      /></a>
    </div>
    <div class="ImageContainer">
      <img src="../../../assets/img/Pg-6-SkylineCar.svg" alt="" />
      <a href="../../../assets/img/SkylinePage.pdf">
        <img id="icon" src="../../../assets/img/DownloadBttn.svg" alt="" />
      </a>
    </div>
    <div class="ImageContainer">
      <img src="../../../assets/img/Pg-5-Flags.svg" alt="" />
      <a href="../../../assets/img/activity-book-p5.pdf">
        <img id="icon" src="../../../assets/img/DownloadBttn.svg" alt="" />
      </a>
    </div>
    <div class="ImageContainer">
      <img src="../../../assets/img/Pg-4-Dot.svg" alt="" />
      <a href="../../../assets/img/DotPage.pdf">
        <img id="icon" src="../../../assets/img/DownloadBttn.svg" alt="" />
      </a>
    </div>
  </div>
</div>
