<div id="container">
  <h1 id="title">Meet the Team!</h1>

  <!-- Description section -->
  <div class="team-section">
    <div class="team-description">
        <p>Our multi-disciplined team includes junior 
          and senior collaborating students from User 
          Experience Design, Graphic Design, Game 
          Art, and Computer Programming.</p>
    </div>
</div>

  <!-- Trivia Team Section -->
  <div class="team-section">
    <div class="trivia-team">
        <h2>The Trivia Team</h2>
    </div>
<!-- Areanna Whittington's & Taiwo Ayedun's section -->
<div class="team-member">
  <img src="../../../assets/img/areanna.JPG" alt="Areanna Whittington" />
  <div>
    <p>
      <a href="https://www.areannawhittington.site" target="_blank">
        <img src="../../../assets/img/Portfolio.jpg" style="width: 20px; height: auto;">
      </a>
    </p>
    <p>
      <a href="https://www.instagram.com/arey4321/" target="_blank">
        <img src="../../../assets/img/Instagram.jpg" style="width: 20px; height: auto;">
      </a>
    </p>
    <p>
      <a href="https://www.linkedin.com/in/areanna-whittington-430205169/" target="_blank">
        <img src="../../../assets/img/LinkedIn.JPG" style="width: 20px; height: auto;">
      </a>
    </p>
    <img src="../../../assets/img/taiwo.JPG" alt="Taiwo Ayedun" />
    <div>
      <p>
        <a href="https://www.instagram.com/ty_ayedun/" target="_blank">
          <img src="../../../assets/img/Instagram.jpg" style="width: 20px; height: auto;">
        </a>
      </p>
      <p>
        <a href="https://www.linkedin.com/in/taiwo-ayedun-043579143/" target="_blank">
          <img src="../../../assets/img/LinkedIn.JPG" style="width: 20px; height: auto;">
        </a>
      </p>
    </div>

  </div>
</div>

<!-- Jenny Nellis's & Namuun Enkhtaivan's section -->
<div class="team-member">
  <img src="../../../assets/img/jenny.JPG" alt="Jenny Nellis" />
  <div>
    <p>Portfolio: N/A</p>
    <p>
      <a href="https://www.instagram.com/jennyyyy.n/" target="_blank">
        <img src="../../../assets/img/Instagram.jpg" style="width: 20px; height: auto;">
      </a>
    </p>
    <p>LinkedIn: N/A</p>

    <img src="../../../assets/img/namuun.JPG" alt="Namuun Enkhtaivan" />
  <div>
    <p>Portfolio: (In progress; will update by 4/16)</p>
    <p>
      Instagram:
      <a href="https://www.instagram.com/muunenkh?igsh=MXZhbGx3aWR2bG1ueQ%3D%3D&utm_source=qr" target="_blank">
        <img src="../../../assets/img/Instagram.jpg" style="width: 20px; height: auto;">
      </a>
    </p>
    <p>
      LinkedIn:
      <a href="https://www.linkedin.com/in/namuunenkhtaivan/" target="_blank">
        <img src="../../../assets/img/LinkedIn.JPG" style="width: 20px; height: auto;">
      </a>
    </p>
  </div>
  </div>
</div>

<!-- Metzli Castellanos's & Leah Camacho's section -->
<div class="team-member">
  <img src="../../../assets/img/metzli.JPG" alt="Metzli Castellanos" />
  <div>
    <p>Portfolio: N/A</p>
    <p>
      LinkedIn:
      <a href="https://www.linkedin.com/in/metzli-castellanos-462661250/" target="_blank">
        <img src="../../../assets/img/LinkedIn.JPG" style="width: 20px; height: auto;">
      </a>
    </p>

    <img src="../../../assets/img/leah.JPG" alt="Leah" />
  <div>
    <p><strong>Leah</strong></p>
    <p>Role: N/A</p>
    <p>Portfolio: N/A</p>
    <p>Instagram: N/A</p>
    <p>LinkedIn: N/A</p>
  </div>
  </div>
</div>
</div>

<!-- Reflex Game Team Section -->
<div class="team-section">
    <div class="reflex-game-team">
        <h2>The Reflex Game Team</h2>
    </div>
<!-- Nick Eisner's & Jaylee Lambino's section -->
<div class="team-member">
  <img src="../../../assets/img/nick.JPG" alt="Nick Eisner" />
  <div>
    <p>Portfolio: N/A</p>
    <p>Instagram: N/A</p>
    <p>
      LinkedIn:
      <a href="https://www.linkedin.com/in/nicholaseisner/" target="_blank">
        <img src="../../../assets/img/LinkedIn.JPG" style="width: 20px; height: auto;">
      </a>
    </p>

    <img src="../../../assets/img/jaylee.JPG" alt="Jaylee Lambino" />
  <div>
    <p>
      Portfolio:
      <a href="https://www.jayleelambino.com/" target="_blank">
        <img src="../../../assets/img/Portfolio.jpg" style="width: 20px; height: auto;">
      </a>
    </p>
    <p>
      Instagram:
      <a href="https://www.instagram.com/jayleelambino/" target="_blank">
        <img src="../../../assets/img/Instagram.jpg" style="width: 20px; height: auto;">
      </a>
    </p>
    <p>
      LinkedIn:
      <a href="https://www.linkedin.com/in/jayleelambino/" target="_blank">
        <img src="../../../assets/img/LinkedIn.JPG" style="width: 20px; height: auto;">
      </a>
    </p>
  </div>
  </div>
</div>

<!-- Aaron Sirico's & Beth Hollatz's section -->
<div class="team-member">
  <img src="../../../assets/img/aaron.JPG" alt="Aaron Sirico" />
  <div>
    <p><strong>Aaron Sirico</strong>, he/him</p>
    <p>Major: Programming</p>
    <p>
      LinkedIn:
      <a href="https://www.linkedin.com/in/aaron-sirico-4050b02b3/" target="_blank">
        <img src="../../../assets/img/LinkedIn.JPG" style="width: 20px; height: auto;">
      </a>
    </p>
    <p>
      Portfolio:
      <a href="https://www.aaronsirico.com" target="_blank">
        <img src="../../../assets/img/Portfolio.jpg" style="width: 20px; height: auto;">
      </a>
    </p>
    <p>
      Instagram:
      <a href="https://www.instagram.com/aaronsirico/" target="_blank">
        <img src="../../../assets/img/Instagram.jpg" style="width: 20px; height: auto;">
      </a>
    </p>

    <img src="../../../assets/img/beth.JPG" alt="Beth Hollatz" />
  <div>
    <p>
      Portfolio:
      <a href="https://www.bethhollatz.com" target="_blank">
        <img src="../../../assets/img/Portfolio.jpg" style="width: 20px; height: auto;">
      </a>
    </p>
    <p>Instagram: N/A</p>
    <p>
      LinkedIn:
      <a href="https://www.linkedin.com/in/elizabethhollatz/" target="_blank">
        <img src="../../../assets/img/LinkedIn.JPG" style="width: 20px; height: auto;">
      </a>
    </p>
  </div>
  </div>
</div>

<!-- William Dunn's section -->
<div class="team-member">
  <img src="../../../assets/img/will.JPG" alt="William Dunn" />
  <div>
    <p>Portfolio: N/A</p>
    <p>Instagram: (Private)</p>
    <p>
      LinkedIn:
      <a href="https://www.linkedin.com/in/william-e-dunn/" target="_blank">
        <img src="../../../assets/img/LinkedIn.JPG" style="width: 20px; height: auto;">
      </a>
    </p>
  </div>
</div>
</div>

<!-- Activity Book Team Section -->
<div class="team-section">
    <div class="activity-book-team">
        <h2>Activity Book Team</h2>
    </div>
<!-- Alua Amangeldikyzy's & Nancy Dumitru's section -->
<div class="team-member">
  <img src="../../../assets/img/alua.JPG" alt="Alua Amangeldikyzy" />
  <div>
    <p>
      Portfolio:
      <a href="https://www.aluadesigns.com" target="_blank">
        <img src="../../../assets/img/Portfolio.jpg" style="width: 20px; height: auto;">
      </a>
    </p>
    <p>
      Instagram:
      <a href="https://www.instagram.com/aluadesigns_" target="_blank">
        <img src="../../../assets/img/Instagram.jpg" style="width: 20px; height: auto;">
      </a>
    </p>
    <p>
      LinkedIn:
      <a href="https://www.linkedin.com/in/alamangeldikyzy" target="_blank">
        <img src="../../../assets/img/LinkedIn.JPG" style="width: 20px; height: auto;">
      </a>
    </p>

    <img src="../../../assets/img/nancy.JPG" alt="Nancy Dumitru" />
  <div>
    <p>
      Portfolio:
      <a href="http://nancydumitru.com/" target="_blank">
        <img src="../../../assets/img/Portfolio.jpg" style="width: 20px; height: auto;">
      </a>
    </p>
    <p>
      Instagram:
      <a href="https://www.instagram.com/nancydumitru/" target="_blank">
        <img src="../../../assets/img/Instagram.jpg" style="width: 20px; height: auto;">
      </a>
    </p>
    <p>
      LinkedIn:
      <a href="https://www.linkedin.com/in/ndumi2/" target="_blank">
        <img src="../../../assets/img/LinkedIn.JPG" style="width: 20px; height: auto;">
      </a>
    </p>
  </div>
  </div>
</div>

<!-- Gianna G. Dimperio's & Cecilia Frias's section -->
<div class="team-member">
  <img src="../../../assets/img/gianna.JPG" alt="Gianna G. Dimperio" />
  <p>
    Portfolio:
    <a href="https://gdimperio.myportfolio.com/" target="_blank">
      <img src="../../../assets/img/Portfolio.jpg" style="width: 20px; height: auto;">
    </a>
  </p>
  <p>
    Instagram:
    <a href="https://www.instagram.com/giannagdimperio/" target="_blank">
      <img src="../../../assets/img/Instagram.jpg" style="width: 20px; height: auto;">
    </a>
  </p>
  <p>
    LinkedIn:
    <a href="https://www.linkedin.com/in/giannagdimperio06/" target="_blank">
      <img src="../../../assets/img/LinkedIn.JPG" style="width: 20px; height: auto;">
    </a>
  <div>
    <img src="../../../assets/img/cecillia.JPG" alt="Cecilia Frias" />
  <div>
    <p>Portfolio: N/A</p>
    <p>Instagram: N/A</p>
    <p>
      LinkedIn:
      <a href="https://www.linkedin.com/in/cecilia-frias-0961652b6/" target="_blank">
        <img src="../../../assets/img/LinkedIn.JPG" style="width: 20px; height: auto;">
      </a>
    </p>
  </div>
  </div>
</div>

<!-- Gabrielle (Alyssa) Vidal's & Caishu Hu's section -->
<div class="team-member">
  <img src="../../../assets/img/gabrielle.JPG" alt="Gabrielle (Alyssa) Vidal" />
  <div>
    <p>
      Portfolio:
      <a href="https://solomonv01.github.io/webdev1/final/index.html" target="_blank">
        <img src="../../../assets/img/Portfolio.jpg" style="width: 20px; height: auto;">
      </a>
    </p>
    <p>
      Instagram:
      <a href="https://www.instagram.com/miragiri_haruto/" target="_blank">
        <img src="../../../assets/img/Instagram.jpg" style="width: 20px; height: auto;">
      </a>
    </p>
    <p>
      LinkedIn:
      <a href="https://www.linkedin.com/in/gabrielle-vidal-098485250/" target="_blank">
        <img src="../../../assets/img/LinkedIn.JPG" style="width: 20px; height: auto;">
      </a>
    </p>

    <img src="../../../assets/img/caishu.JPG" alt="Caishu Hu" />
  <div>
    <p>Portfolio: N/A</p>
    <p>Instagram: N/A</p>
    <p>
      LinkedIn:
      <a href="https://www.linkedin.com/in/caishu-hu/" target="_blank">
        <img src="../../../assets/img/LinkedIn.JPG" style="width: 20px; height: auto;">
      </a>
    </p>
  </div>
  </div>
</div>

<!-- Charlesa Thompson's section -->
<div class="team-member">
  <img src="../../../assets/img/charlesa.JPG" alt="Charlesa Thompson" />
  <div>
    <p>
      LinkedIn:
      <a href="https://www.linkedin.com/in/charlesa-thompson-18782226b/" target="_blank">
        <img src="../../../assets/img/LinkedIn.JPG" style="width: 20px; height: auto;">
      </a>
    </p>
    <p>
      Portfolio:
      <a href="https://charlesathompson.myportfolio.com/" target="_blank">
        <img src="../../../assets/img/Portfolio.jpg" style="width: 20px; height: auto;">
      </a>
    </p>
  </div>
</div>

<div class="team-section mentorship-section">
  <h2>Mentorship</h2>
  <img src="../../../assets/img/jo-nell.JPG" alt="Jo-Nell" style="width: 300px; height: auto;">
</div>
</div>
