#container {
  background-color: black;
  color: white;
}

#title {
  background-color: black;
  color: white;
  padding: 10px;
  margin-top: 0;
}

body {
    background-color: black;
    color: rgb(0, 0, 0);
  }
  
  .team-member {
    background-color: black;
    color: white;
  }
  
  .team-member img {
    width: 100px; /* Adjust width as needed */
    height: auto;
  }
  
  .team-member p {
    margin: 5px 0;
  }
  
  .team-member a {
    color: rgb(0, 162, 255);
  }
       
       
       /* Style for team member sections */
       .team-section {
        text-align: left;
      }

      .trivia-team {
        position: absolute;
        top: 50;
        right: 0;
      }
      

      .reflex-game-team {
        position: absolute;
        top: 50;
        right: 0;
        background-color: rgb(0, 0, 0);
        color: white;
        padding: 20px;
        border-radius: 8px;
      }


        .activity-book-team {
          position: absolute;
          top: 50;
          right: 0;
          background-color: rgb(0, 0, 0);
          color: white;
          padding: 20px;
          border-radius: 8px;
        }

        .team-member {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
        }

        .team-member img {
            width: 300px;
            height: auto;
            border: 2px solid rgb(0, 0, 0);
            border-radius: 8px;
            margin: 0 10px;
        }

        .team-member div {
            text-align: center;
        }
   