<div id="container">
  <h1 id="title">Meet the Team!</h1>

  <!-- Description section -->
  <div class="team-section">
    <div class="team-description">
      <p>
        Our multi-disciplined team includes junior and senior collaborating
        students from User Experience Design, Graphic Design, Game Art, and
        Computer Programming.
      </p>
    </div>
  </div>

  <!-- Trivia Team Section -->
  <div class="team-section">
    <div class="trivia-team">
      <h2>The Trivia Team</h2>
    </div>
    <!-- Areanna Whittington's & Taiwo Ayedun's section -->
    <div class="team-member">
      <div style="position: relative">
        <img
          src="../../../assets/img/team/Arey.png"
          alt="Areanna Whittington"
        />
        <a href="https://www.areannawhittington.site" target="_blank">
          <img
            src="../../../assets/img/team/Portfolio.jpg"
            alt="Portfolio"
            style="
              position: absolute;
              top: 290px;
              left: 35px;
              width: 20px;
              height: auto;
            "
          />
        </a>
        <a href="https://www.instagram.com/arey4321/" target="_blank">
          <img
            src="../../../assets/img/team/Instagram.jpg"
            alt="Instagram"
            style="
              position: absolute;
              top: 290px;
              left: 75px;
              width: 20px;
              height: auto;
            "
          />
        </a>
        <a
          href="https://www.linkedin.com/in/areanna-whittington-430205169/"
          target="_blank"
        >
          <img
            src="../../../assets/img/team/LinkedIn.JPG"
            alt="LinkedIn"
            style="
              position: absolute;
              top: 290px;
              left: 55px;
              width: 20px;
              height: auto;
            "
          />
        </a>
      </div>
      <div style="position: relative">
        <img src="../../../assets/img/team/Tai.png" alt="Taiwo Ayedun" />
        <a href="https://www.instagram.com/ty_ayedun/" target="_blank">
          <img
            src="../../../assets/img/team/Instagram.jpg"
            alt="Instagram"
            style="
              position: absolute;
              top: 292px;
              left: 72px;
              width: 20px;
              height: auto;
            "
          />
        </a>
        <a
          href="https://www.linkedin.com/in/taiwo-ayedun-043579143/"
          target="_blank"
        >
          <img
            src="../../../assets/img/team/LinkedIn.JPG"
            alt="LinkedIn"
            style="
              position: absolute;
              top: 292px;
              left: 52px;
              width: 20px;
              height: auto;
            "
          />
        </a>
      </div>
    </div>

    <!-- Jenny Nellis's & Namuun Enkhtaivan's section -->
    <div class="team-member">
      <div style="position: relative">
        <img src="../../../assets/img/team/Jenny.png" alt="Jenny Nellis" />
        <a href="https://www.instagram.com/jennyyyy.n/" target="_blank">
          <img
            src="../../../assets/img/team/Instagram.jpg"
            alt="Instagram"
            style="
              position: absolute;
              top: 292px;
              left: 72px;
              width: 20px;
              height: auto;
            "
          />
        </a>
      </div>
      <div style="position: relative">
        <img
          src="../../../assets/img/team/Namuun.png"
          alt="Namuun Enkhtaivan"
        />
        <a
          href="https://www.instagram.com/muunenkh?igsh=MXZhbGx3aWR2bG1ueQ%3D%3D&utm_source=qr"
          target="_blank"
        >
          <img
            src="../../../assets/img/team/Instagram.jpg"
            style="
              position: absolute;
              top: 290px;
              left: 70px;
              width: 20px;
              height: auto;
            "
          />
        </a>
        <a href="https://www.linkedin.com/in/namuunenkhtaivan/" target="_blank">
          <img
            src="../../../assets/img/team/LinkedIn.JPG"
            style="
              position: absolute;
              top: 290px;
              left: 50px;
              width: 20px;
              height: auto;
            "
          />
        </a>
      </div>
    </div>

    <!-- Metzli Castellanos's & Leah Camacho's section -->
    <div class="team-member">
      <div style="position: relative">
        <img
          src="../../../assets/img/team/Metzli.png"
          alt="Metzli Castellanos"
        />
        <a
          href="https://www.linkedin.com/in/metzli-castellanos-462661250/"
          target="_blank"
        >
          <img
            src="../../../assets/img/team/LinkedIn.JPG"
            alt="LinkedIn"
            style="
              position: absolute;
              top: 292px;
              left: 50px;
              width: 20px;
              height: auto;
            "
          />
        </a>
      </div>
      <div>
        <img src="../../../assets/img/team/leah.JPG" alt="Leah" />
      </div>
    </div>

    <!-- Reflex Game Team Section -->
    <div class="team-section">
      <div class="reflex-game-team">
        <h2>The Reflex Game Team</h2>
      </div>
      <!-- Nick Eisner's & Jaylee Lambino's section -->
      <div class="team-member">
        <div style="position: relative">
          <img src="../../../assets/img/team/Nick.png" alt="Nick Eisner" />
          <a href="https://www.linkedin.com/in/nicholaseisner/" target="_blank">
            <img
              src="../../../assets/img/team/LinkedIn.JPG"
              alt="LinkedIn"
              style="
                position: absolute;
                top: 310px;
                left: 48px;
                width: 20px;
                height: auto;
              "
            />
          </a>
        </div>
        <div>
          <div style="position: relative">
            <img
              src="../../../assets/img/team/Jaylee.png"
              alt="Jaylee Lambino"
            />
            <a href="https://www.jayleelambino.com/" target="_blank">
              <img
                src="../../../assets/img/team/Portfolio.jpg"
                alt="Portfolio"
                style="
                  position: absolute;
                  top: 305px;
                  left: 30px;
                  width: 20px;
                  height: auto;
                "
              />
            </a>
            <a href="https://www.instagram.com/jayleelambino/" target="_blank">
              <img
                src="../../../assets/img/team/Instagram.jpg"
                alt="Instagram"
                style="
                  position: absolute;
                  top: 305px;
                  left: 72px;
                  width: 20px;
                  height: auto;
                "
              />
            </a>
            <a
              href="https://www.linkedin.com/in/jayleelambino/"
              target="_blank"
            >
              <img
                src="../../../assets/img/team/LinkedIn.JPG"
                alt="LinkedIn"
                style="
                  position: absolute;
                  top: 305px;
                  left: 50px;
                  width: 20px;
                  height: auto;
                "
              />
            </a>
          </div>
        </div>
      </div>

      <!-- Aaron Sirico's & Beth Hollatz's section -->
      <div class="team-member">
        <div style="position: relative">
          <img src="../../../assets/img/team/aaron.JPG" alt="Aaron Sirico" />
          <a
            href="https://www.linkedin.com/in/aaron-sirico-4050b02b3/"
            target="_blank"
          >
            <img
              src="../../../assets/img/team/LinkedIn.JPG"
              alt="LinkedIn"
              style="
                position: absolute;
                top: 290px;
                left: 54px;
                width: 20px;
                height: auto;
              "
            />
          </a>
          <a href="https://www.aaronsirico.com" target="_blank">
            <img
              src="../../../assets/img/team/Portfolio.jpg"
              alt="Portfolio"
              style="
                position: absolute;
                top: 290px;
                left: 35px;
                width: 20px;
                height: auto;
              "
            />
          </a>
          <a href="https://www.instagram.com/aaronsirico/" target="_blank">
            <img
              src="../../../assets/img/team/Instagram.jpg"
              alt="Instagram"
              style="
                position: absolute;
                top: 290px;
                left: 75px;
                width: 20px;
                height: auto;
              "
            />
          </a>
        </div>
        <div>
          <div style="position: relative">
            <img src="../../../assets/img/team/Beth.png" alt="Beth Hollatz" />
            <a href="https://www.bethhollatz.com" target="_blank">
              <img
                src="../../../assets/img/team/Portfolio.jpg"
                alt="Portfolio"
                style="
                  position: absolute;
                  top: 305px;
                  left: 29px;
                  width: 20px;
                  height: auto;
                "
              />
            </a>
            <a
              href="https://www.linkedin.com/in/elizabethhollatz/"
              target="_blank"
            >
              <img
                src="../../../assets/img/team/LinkedIn.JPG"
                alt="LinkedIn"
                style="
                  position: absolute;
                  top: 305px;
                  left: 50px;
                  width: 20px;
                  height: auto;
                "
              />
            </a>
          </div>
        </div>
      </div>

      <!-- William Dunn's section -->
      <div class="team-member">
        <div style="position: relative">
          <img src="../../../assets/img/team/Will.png" alt="William Dunn" />
          <a href="https://www.linkedin.com/in/william-e-dunn/" target="_blank">
            <img
              src="../../../assets/img/team/LinkedIn.JPG"
              alt="LinkedIn"
              style="
                position: absolute;
                top: 300px;
                left: 45px;
                width: 20px;
                height: auto;
              "
            />
          </a>
        </div>
      </div>

      <!-- Activity Book Team Section -->
      <div class="team-section">
        <div class="activity-book-team">
          <h2>Activity Book Team</h2>
        </div>
        <!-- Alua Amangeldikyzy's & Nancy Dumitru's section -->
        <div class="team-member">
          <div style="position: relative">
            <img
              src="../../../assets/img/team/Alua.png"
              alt="Alua Amangeldikyzy"
            />
            <a href="https://www.aluadesigns.com" target="_blank">
              <img
                src="../../../assets/img/team/Portfolio.jpg"
                alt="Portfolio"
                style="
                  position: absolute;
                  top: 298px;
                  left: 30px;
                  width: 20px;
                  height: auto;
                "
              />
            </a>
            <a href="https://www.instagram.com/aluadesigns_" target="_blank">
              <img
                src="../../../assets/img/team/Instagram.jpg"
                alt="Instagram"
                style="
                  position: absolute;
                  top: 298px;
                  left: 73px;
                  width: 20px;
                  height: auto;
                "
              />
            </a>
            <a
              href="https://www.linkedin.com/in/alamangeldikyzy"
              target="_blank"
            >
              <img
                src="../../../assets/img/team/LinkedIn.JPG"
                alt="LinkedIn"
                style="
                  position: absolute;
                  top: 298px;
                  left: 51px;
                  width: 20px;
                  height: auto;
                "
              />
            </a>
          </div>
          <div style="position: relative">
            <img src="../../../assets/img/team/Nancy.png" alt="Nancy Dumitru" />
            <a href="http://nancydumitru.com/" target="_blank">
              <img
                src="../../../assets/img/team/Portfolio.jpg"
                style="
                  position: absolute;
                  top: 295px;
                  left: 30px;
                  width: 20px;
                  height: auto;
                "
              />
            </a>
            <a href="https://www.instagram.com/nancydumitru/" target="_blank">
              <img
                src="../../../assets/img/team/Instagram.jpg"
                style="
                  position: absolute;
                  top: 295px;
                  left: 70px;
                  width: 20px;
                  height: auto;
                "
              />
            </a>
            <a href="https://www.linkedin.com/in/ndumi2/" target="_blank">
              <img
                src="../../../assets/img/team/LinkedIn.JPG"
                style="
                  position: absolute;
                  top: 295px;
                  left: 50px;
                  width: 20px;
                  height: auto;
                "
              />
            </a>
          </div>
        </div>

        <!-- Gianna G. Dimperio's & Cecilia Frias's section -->
        <div class="team-member">
          <div style="position: relative">
            <img
              src="../../../assets/img/team/Gianna.png"
              alt="Gianna G. Dimperio"
            />
            <a href="https://gdimperio.myportfolio.com/" target="_blank">
              <img
                src="../../../assets/img/team/Portfolio.jpg"
                alt="Portfolio"
                style="
                  position: absolute;
                  top: 297px;
                  left: 25px;
                  width: 20px;
                  height: auto;
                "
              />
            </a>
            <a
              href="https://www.instagram.com/giannagdimperio/"
              target="_blank"
            >
              <img
                src="../../../assets/img/team/Instagram.jpg"
                alt="Instagram"
                style="
                  position: absolute;
                  top: 297px;
                  left: 65px;
                  width: 20px;
                  height: auto;
                "
              />
            </a>
            <a
              href="https://www.linkedin.com/in/giannagdimperio06/"
              target="_blank"
            >
              <img
                src="../../../assets/img/team/LinkedIn.JPG"
                alt="LinkedIn"
                style="
                  position: absolute;
                  top: 297px;
                  left: 45px;
                  width: 20px;
                  height: auto;
                "
              />
            </a>
          </div>
          <div style="position: relative">
            <img src="../../../assets/img/team/Cecy.png" alt="Cecilia Frias" />
            <a
              href="https://www.linkedin.com/in/cecilia-frias-0961652b6/"
              target="_blank"
            >
              <img
                src="../../../assets/img/team/LinkedIn.JPG"
                alt="LinkedIn"
                style="
                  position: absolute;
                  top: 302px;
                  left: 50px;
                  width: 20px;
                  height: auto;
                "
              />
            </a>
          </div>
        </div>

        <!-- Gabrielle (Alyssa) Vidal's & Caishu Hu's section -->
        <div class="team-member">
          <div style="position: relative">
            <img
              src="../../../assets/img/team/Gabrielle.png"
              alt="Gabrielle (Alyssa) Vidal"
            />
            <a
              href="https://solomonv01.github.io/webdev1/final/index.html"
              target="_blank"
            >
              <img
                src="../../../assets/img/team/Portfolio.jpg"
                alt="Portfolio"
                style="
                  position: absolute;
                  top: 298px;
                  left: 30px;
                  width: 20px;
                  height: auto;
                "
              />
            </a>
            <a
              href="https://www.instagram.com/miragiri_haruto/"
              target="_blank"
            >
              <img
                src="../../../assets/img/team/Instagram.jpg"
                alt="Instagram"
                style="
                  position: absolute;
                  top: 298px;
                  left: 73px;
                  width: 20px;
                  height: auto;
                "
              />
            </a>
            <a
              href="https://www.linkedin.com/in/gabrielle-vidal-098485250/"
              target="_blank"
            >
              <img
                src="../../../assets/img/team/LinkedIn.JPG"
                alt="LinkedIn"
                style="
                  position: absolute;
                  top: 298px;
                  left: 50px;
                  width: 20px;
                  height: auto;
                "
              />
            </a>
          </div>
          <div style="position: relative">
            <img src="../../../assets/img/team/Caishu.png" alt="Caishu Hu" />
            <a href="https://www.linkedin.com/in/caishu-hu/" target="_blank">
              <img
                src="../../../assets/img/team/LinkedIn.JPG"
                alt="LinkedIn"
                style="
                  position: absolute;
                  top: 300px;
                  left: 50px;
                  width: 20px;
                  height: auto;
                "
              />
            </a>
          </div>
        </div>

        <!-- Charlesa Thompson's section -->
        <div class="team-member">
          <div style="position: relative">
            <img
              src="../../../assets/img/team/Charlesa.png"
              alt="Charlesa Thompson"
            />
            <a
              href="https://www.linkedin.com/in/charlesa-thompson-18782226b/"
              target="_blank"
            >
              <img
                src="../../../assets/img/team/LinkedIn.JPG"
                alt="LinkedIn"
                style="
                  position: absolute;
                  top: 302px;
                  left: 49px;
                  width: 20px;
                  height: auto;
                "
              />
            </a>
            <a href="https://charlesathompson.myportfolio.com/" target="_blank">
              <img
                src="../../../assets/img/team/Portfolio.jpg"
                alt="Portfolio"
                style="
                  position: absolute;
                  top: 302px;
                  left: 27px;
                  width: 20px;
                  height: auto;
                "
              />
            </a>
          </div>
        </div>

        <div class="team-section mentorship-section">
          <h2>Mentorship</h2>
          <img
            src="../../../assets/img/team/Jo-Nell.png"
            alt="Jo-Nell"
            style="width: 300px; height: auto"
          />
        </div>
      </div>
    </div>
  </div>
</div>
