header {
    position: relative;
    width: 100%;
    z-index: 100;
    color: #D4D4D4;
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
    }



a {
    color: #D4D4D4;
    cursor: pointer;
    background: none;
    border: medium;
    text-decoration: none;
    margin: 0;
}

.container {
    margin: 7.44% 7.44%;
}

nav {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

#nav-left{
    display: flex;  
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}

#team-link{
    text-align: left;
    padding-left: 1.5px;
    width: 100px;
}

#process-link{
    text-align: left;
    width: 100px;
}

/* Minimum width for laptops. */
@media all and (min-width: 769px) {
  .container {
    margin: 43px 50px;
}

a:hover {
    font-style: italic;
}

#home-link a:hover{
    font-style: italic;
}


} /* closes 769px+ */

/* Minimum width for desktop screens. */
@media all and (min-width: 1024px) {
    header{
        font-size: 40px;
        font-weight: 500;
      }
    #team-link{
        width: 200px;
    }
    
    #process-link{
        width: 200px;
    }
} /* closes 1024px+ */