<app-header id="header"></app-header>

<div class="DesktopContent">
<div id="overviewSection" class="ProcessNav">
    <hr>
    <div  class="SkewBox">
       <img class="overviewButton" data-target="overviewSection" id="active" src="../../../assets/img/Process/NavYellowOverview.svg" alt="">
    </div>
    <div  class="SkewBox">
        <img class="approachButton" data-target="approachSection" src="../../../assets/img/Process/NavApproach.svg" alt="">
    </div>
    <div class="SkewBox">
        <img class="researchButton" data-target="researchSection" id="tall" src="../../../assets/img/Process/NavResearch.svg" alt="">
    </div>
    <div class="SkewBox">
        <img class="personButton" data-target="personSection" src="../../../assets/img/Process/NavPerson.svg" alt="">
    </div>
    <div class="SkewBox">
        <img class="interviewButton" data-target="interviewSection" id="tall" src="../../../assets/img/Process/NavInterview.svg" alt="">
    </div>
    <div class="SkewBox">
        <img class="processButton" data-target="processSection" src="../../../assets/img/Process/NavProcess.svg" alt="">
    </div>
    <div class="SkewBox">
        <img class="finalButton" data-target="finalSection" id="tall" src="../../../assets/img/Process/NavFinal.svg" alt="">
    </div>
</div>


<div class="MainContent">
    <div class="YellowSkewContainer">
        <img src="../../../assets/img/Process/OverviewHeader.svg" alt="">
    </div>
    <div class="RedSkewContainer">
        <img src="../../../assets/img/Process/ScopeHeader.svg" alt="">
    </div>
    <div class="WhiteSkewContainer">
        <img src="../../../assets/img/Process/TimelineHeader.svg" alt="">
    </div>
    <div class="DivLargeImage">
        <img src="../../../assets/img/Process/TimelineImgAlpha.svg" alt="">
    </div>

    <div id="approachSection" class="ProcessNav">
        <hr>
        <div  class="SkewBox">
           <img class="overviewButton" data-target="overviewSection" id="active" src="../../../assets/img/Process/NavOverview.svg" alt="">
        </div>
        <div  class="SkewBox">
            <img class="approachButton" data-target="approachSection" src="../../../assets/img/Process/NavYellowApproach.svg" alt="">
        </div>
        <div class="SkewBox">
            <img class="researchButton" data-target="researchSection" id="tall" src="../../../assets/img/Process/NavResearch.svg" alt="">
        </div>
        <div class="SkewBox">
            <img class="personButton" data-target="personSection" src="../../../assets/img/Process/NavPerson.svg" alt="">
        </div>
        <div class="SkewBox">
            <img class="interviewButton" data-target="interviewSection" id="tall" src="../../../assets/img/Process/NavInterview.svg" alt="">
        </div>
        <div class="SkewBox">
            <img class="processButton" data-target="processSection" src="../../../assets/img/Process/NavProcess.svg" alt="">
        </div>
        <div class="SkewBox">
            <img class="finalButton" data-target="finalSection" id="tall" src="../../../assets/img/Process/NavFinal.svg" alt="">
        </div>
    </div>

    <div class="BlueSkewContainer">
        <img src="../../../assets/img/Process/Approach.svg" alt="">
    </div>

    <div id="researchSection" class="ProcessNav">
        <hr>
        <div  class="SkewBox">
           <img class="overviewButton" data-target="overviewSection" id="active" src="../../../assets/img/Process/NavOverview.svg" alt="">
        </div>
        <div  class="SkewBox">
            <img class="approachButton" data-target="approachSection" src="../../../assets/img/Process/NavApproach.svg" alt="">
        </div>
        <div class="SkewBox">
            <img class="researchButton" data-target="researchSection" id="tall" src="../../../assets/img/Process/NavYellowResearch.svg" alt="">
        </div>
        <div class="SkewBox">
            <img class="personButton" data-target="personSection" src="../../../assets/img/Process/NavPerson.svg" alt="">
        </div>
        <div class="SkewBox">
            <img class="interviewButton" data-target="interviewSection" id="tall" src="../../../assets/img/Process/NavInterview.svg" alt="">
        </div>
        <div class="SkewBox">
            <img class="processButton" data-target="processSection" src="../../../assets/img/Process/NavProcess.svg" alt="">
        </div>
        <div class="SkewBox">
            <img class="finalButton" data-target="finalSection" id="tall" src="../../../assets/img/Process/NavFinal.svg" alt="">
        </div>
    </div>

    <div id="Research" class="HeadWhiteSkewContainer">
        <img src="../../../assets/img/Process/ResearchHeader.svg" alt="">
    </div>

    <div class="ResearchContent">
        <img src="../../../assets/img/Process/ResearchImgSolid.svg" alt="">
        <ul>
            <li>
                First we researched everything there was to know about NASCAR as a whole to get to know our client better.
            </li>
            <li>
                Using Mural, we created various sections: NASCAR, NASCAR Kids, NASCAR 101, NASCAR Chicago, Demographics, Miscellaneous, and Past Marketing Educational Incentives.  
            </li>
            <li>
                Under those sections we made post its that helped differentiate our information in an organized method. 
            </li>
        </ul>
    </div>

    <div id="SWOT" class="HeadWhiteSkewContainer">
        <img src="../../../assets/img/Process/SwotHeader.svg" alt="">
    </div>

    <div class="DivLargeImage">
        <img src="../../../assets/img/Process/SwotMainImgSolid.svg" alt="">
    </div>

    <div class="SwotSubContent">
        <img src="../../../assets/img/Process/SwotPostNoteImg.svg" alt="">
        <img src="../../../assets/img/Process/SwotTeamImg.svg" alt="">
        <p>
            Along with our initial research we proceeded to do a SWOT analysis on our brand to better understand the current state and potential for success for strategic decision making in the design process.
        </p>
    </div>

    <div id="Screen" class="HeadWhiteSkewContainer">
        <img src="../../../assets/img/Process/ScreenHeader.svg" alt="">
    </div>

        <p class="SmallBasicWhiteText">
            We launched two distinct surveys as part of our research strategy to comprehensively understand our audience and gather essential data. One survey targeted festival-goers, while the other was tailored specifically for NASCAR fans. The festival screener survey successfully reached 50 participants, while the NASCAR screener reached 10 respondents. These surveys proved invaluable in gauging people’s interests and provided profound insights into the potential reception of our interactive digital experiences.
        </p>

        <h3 id="subWhiteHeadText">Festival Screener</h3>
        <div class="DivLargeImage">
        <img src="../../../assets/img/Process/ScreenMainGridImg.svg" alt="">
        </div>
        <h3 id="subWhiteHeadText">NASCAR Screener</h3>
        <div id="Enlarge" class="DivLargeImage">
        <img src="../../../assets/img/Process/ScreenSubGridImg.svg" alt="">
        </div>

    <div id="Comp" class="HeadWhiteSkewContainer">
        <img src="../../../assets/img/Process/CompAnalyHead.svg" alt="">
    </div>
    <div class="SmallBasicWhiteText">
        <p>Following the surveys, we conducted a Competitive Analysis focusing on other motorsports such as Formula 1 and IndyCar. Utilizing a SWOT analysis framework, we evaluated their strengths, weaknesses, opportunities, and threats. This process was instrumental in refining our design ideas and ensuring that our interactive digital experiences stand out in the competitive landscape.
        </p>
    </div>
    <div class="DivLargeImage">
        <img id="Enlarge" src="../../../assets/img/Process/CompCompareAlpha.svg" alt="">
    </div>

    <div id="personSection" class="ProcessNav">
        <hr>
        <div class="SkewBox">
           <img class="overviewButton" data-target="overviewSection" id="active" src="../../../assets/img/Process/NavOverview.svg" alt="">
        </div>
        <div  class="SkewBox">
            <img class="approachButton" data-target="approachSection" src="../../../assets/img/Process/NavApproach.svg" alt="">
        </div>
        <div class="SkewBox">
            <img class="researchButton" data-target="researchSection" id="tall" src="../../../assets/img/Process/NavResearch.svg" alt="">
        </div>
        <div class="SkewBox">
            <img class="personButton" data-target="personSection" src="../../../assets/img/Process/NavYellowPerson.svg" alt="">
        </div>
        <div class="SkewBox">
            <img class="interviewButton" data-target="interviewSection" id="tall" src="../../../assets/img/Process/NavInterview.svg" alt="">
        </div>
        <div class="SkewBox">
            <img class="processButton" data-target="processSection" src="../../../assets/img/Process/NavProcess.svg" alt="">
        </div>
        <div class="SkewBox">
            <img class="finalButton" data-target="finalSection" id="tall" src="../../../assets/img/Process/NavFinal.svg" alt="">
        </div>
    </div>

    <div id="Person" class="HeadWhiteSkewContainer">
        <img src="../../../assets/img/Process/PersonHeader.svg" alt="">
    </div>

    
        <p class="BasicWhiteText">
            We then proceeded to create Personas to ensure our design process remained human-centered. Each persona 
            was crafted based on their goals, motivations, fears, frustrations, tasks, needs, and level of technological proficiency. 
        </p>
  

    <div class="DivLargeImage">
        <img id="Enlarge" src="../../../assets/img/Process/PersonMainGridImg.svg" alt="">
    </div>

    <div id="interviewSection" class="ProcessNav">
        <hr>
        <div  class="SkewBox">
           <img class="overviewButton" data-target="overviewSection" id="active" src="../../../assets/img/Process/NavOverview.svg" alt="">
        </div>
        <div  class="SkewBox">
            <img class="approachButton" data-target="approachSection" src="../../../assets/img/Process/NavApproach.svg" alt="">
        </div>
        <div class="SkewBox">
            <img class="researchButton" data-target="researchSection" id="tall" src="../../../assets/img/Process/NavResearch.svg" alt="">
        </div>
        <div class="SkewBox">
            <img class="personButton" data-target="personSection" src="../../../assets/img/Process/NavPerson.svg" alt="">
        </div>
        <div class="SkewBox">
            <img class="interviewButton" data-target="interviewSection" id="tall" src="../../../assets/img/Process/NavYellowInterview.svg" alt="">
        </div>
        <div class="SkewBox">
            <img class="processButton" data-target="processSection" src="../../../assets/img/Process/NavProcess.svg" alt="">
        </div>
        <div class="SkewBox">
            <img class="finalButton" data-target="finalSection" id="tall" src="../../../assets/img/Process/NavFinal.svg" alt="">
        </div>
    </div>

    <div id="Interview" class="HeadWhiteSkewContainer">
        <img src="../../../assets/img/Process/InterviewHeader.svg" alt="">
    </div>

    <div class="BasicWhiteText">
        <p>We conducted three user interviews with participants from the surveys. One interview was with Joe, a passionate NASCAR fan, while the other two were with festival-goers. These interviews provided us with invaluable qualitative insights into the preferences, experiences, and expectations of our target audience, allowing us to further refine our design approach and ensure its alignment with user needs and desires.
        </p>
    </div>

    <div class="DivLargeImage">
        <img src="../../../assets/img/Process/InterviewMainGridAlpha.svg" alt="">
    </div>

    <div class="InterviewTextContent">
        <p>
            Understanding Festival-Goer Preferences
        </p>
    </div>

    <div class="ColumnContainer">
        <div id="leftColumn">
            <img id="leftProf" src="../../../assets/img/Process/InterviewSubImgOrange.svg" alt="">
            <ul>
                <li>
                    Values clear communication, accessibility at events.
                </li>
                <li>
                    Appreciates memorable festival interactions, like photo booths.
                </li>
            </ul>
            <img id="leftQoute" src="../../../assets/img/Process/InterviewLeftQouteAlpha.svg" alt="">
            <img id="leftImg" src="../../../assets/img/Process/InterviewLeftImg.svg" alt="">
        </div>
        <div id="rightColumn">
            <img id="rightProf" src="../../../assets/img/Process/InterviewSubImgYellow.svg" alt="">
            <ul >
                <li>
                    Values family-friendly festivals with diverse music experiences.
                    
                </li>
                <li>
                    Suggests the need for a digital guide to enhance navigation.
                </li>
            </ul>
            <img id="rightQoute" src="../../../assets/img/Process/InterviewRightQouteAlpha.svg" alt="">
            <img id="rightImg" src="../../../assets/img/Process/InterviewRightImg.svg" alt="">
        </div>
        </div>
    </div>

    <div id="processSection" class="ProcessNav">
        <hr>
        <div  class="SkewBox">
           <img class="overviewButton" data-target="overviewSection" id="active" src="../../../assets/img/Process/NavOverview.svg" alt="">
        </div>
        <div  class="SkewBox">
            <img class="approachButton" data-target="approachSection" src="../../../assets/img/Process/NavApproach.svg" alt="">
        </div>
        <div class="SkewBox">
            <img class="researchButton" data-target="researchSection" id="tall" src="../../../assets/img/Process/NavResearch.svg" alt="">
        </div>
        <div class="SkewBox">
            <img class="personButton" data-target="personSection" src="../../../assets/img/Process/NavPerson.svg" alt="">
        </div>
        <div class="SkewBox">
            <img class="interviewButton" data-target="interviewSection" id="tall" src="../../../assets/img/Process/NavInterview.svg" alt="">
        </div>
        <div class="SkewBox">
            <img class="processButton" data-target="processSection" src="../../../assets/img/Process/NavYellowProcess.svg" alt="">
        </div>
        <div class="SkewBox">
            <img class="finalButton" data-target="finalSection" id="tall" src="../../../assets/img/Process/NavFinal.svg" alt="">
        </div>
    </div>

    <div id="Book" class="HeadWhiteSkewContainer">
        <img src="../../../assets/img/Process/BookHeader.svg" alt="">
    </div>

    <div class="BasicWhiteText">
        <p>First, we reviewed the current NASCAR Activity Book:
        </p>
    </div>
    <div class="DivLargeImage">
        <img src="../../../assets/img/Process/BookMainGridImgAlpha.svg" alt="">
    </div>
    <div class="BasicWhiteText">
        <p>Then, we brainstormed:
        </p>
    </div>
    <div class="DivLargeImage">
        <img  src="../../../assets/img/Process/Book2MainGridImgAlpha.svg" alt="">
    </div>
    <div class="BasicWhiteText">
    <p>After much debate & research, our 8 cohesive activites for the 2024 NASCAR Book is:
    </p>
    </div>
    <div class="DivLargeImage">
        <img src="../../../assets/img/Process/Book3MainGridImgAlpha.svg" alt="">
    </div>
    <div class="BasicWhiteText">
        <p>Our first Iteration:
        </p>
    </div>
    <div class="DivLargeImage">
        <img src="../../../assets/img/Process/Book4MainGridImgAlpha.svg" alt="">
    </div>

<div id="Trivia" class="HeadWhiteSkewContainer">
    <img src="../../../assets/img/Process/TriviaHeader.svg" alt="">
</div>

<div class="BasicWhiteText">
    <p>Utilizing the research findings, we curated a set of 10 questions divided into three rounds of trivia. Through multiple rounds of revisions, we condensed the trivia format into 3 rounds, each comprising 5 questions.
    </p>
</div>
<h3 id="subWhiteHeadText">Questions: Phase 1</h3>
<div class="BasicWhiteText">
    <p>Trivia Research/Questions
    </p>
</div>
<div class="DivLargeImage">
    <img src="../../../assets/img/Process/TriviaMainGridImgAlpha.svg" alt="">
    </div>
    <h3 id="subWhiteHeadText">Questions: Phase 1</h3>
<div class="BasicWhiteText">
    <p>Card Sorting Cluster Map
    </p>
</div>
<div class="TriviaRow2">
    <img id="img1" src="../../../assets/img/Process/TriviaDotsImgAlpha.svg" alt="">
    <img id="img2" src="../../../assets/img/Process/TriviaQuestionsDocument.svg" alt="">
</div>

<h3 id="subWhiteHeadText">User Flow</h3>
<div id="ShortText" class="BasicWhiteText">
    <p>Just as we went through revisions with the questions, we also updated the user flow iterations accordingly.  
    </p>
</div>

<div class="DivLargeImage">
<img src="../../../assets/img/Process/TriviaUserflowAlpha.svg" alt="">
</div>
<div class="DivLargeImage">
<img src="../../../assets/img/Process/TriviaUserflowSolid.svg" alt="">
</div>

<h3 id="subWhiteHeadText">Low Fidelity Sketches</h3>
<div class="BasicWhiteText">
    <p>Our six trivia team designers collaborated to produce quick, low-fidelity sketch wireframes for various pages including the landing page, question page, multiple-choice page, answer page, end score page, and end of round page. By pooling our ideas and insights, we created a medium-fidelity prototype. This prototype underwent user testing, and the feedback we received informed the development of our high-fidelity prototype.
    </p>
</div>

<div class="ImgGrid">
    <img id="GridItem" src="../../../assets/img/Process/TriviaSketch1.svg" alt="">
    <img id="GridItem" src="../../../assets/img/Process/TriviaSketch2.svg" alt="">
    <img id="GridItem" src="../../../assets/img/Process/TriviaSketch3.svg" alt="">
    <img id="GridItem" src="../../../assets/img/Process/TriviaSketch4.svg" alt="">
    <img id="GridItem" src="../../../assets/img/Process/TriviaSketch5.svg" alt="">
    <img id="GridItem" src="../../../assets/img/Process/TriviaSketch6.svg" alt="">
</div>

<h3 id="subWhiteHeadText">Medium Fidelity Prototype</h3>

<div class="GridRow">
    <img id="GridRowItem" src="../../../assets/img/Process/TriviaUiHomePage.svg" alt="">
    <img id="GridRowItem" src="../../../assets/img/Process/TriviaUiQuestion.svg" alt="">
    <img id="GridRowItem" src="../../../assets/img/Process/TriviaUiAnwser.svg" alt="">
    <img id="GridRowItem" src="../../../assets/img/Process/TriviaUiLeaderboard.svg" alt="">
    <img id="GridRowItem" src="../../../assets/img/Process/TriviaUiEnd.svg" alt="">
</div>

<h3 id="subWhiteHeadText">User Testing</h3>

<div class="TestGridRow">
    <img id="TestGridRowItem" src="../../../assets/img/Process/Beth 1.svg" alt="">
    <img id="TestGridRowItem" src="../../../assets/img/Process/TriviaSuImg.svg" alt="">
    <ul id="TestGridRowItem">
        <li>
            User testing provided valuable insights into user response time and screen transitions.
        </li>
        <li>
            Graphics like confetti made it fun and rewarding for users to understand and remember answers.
        </li>
    </ul>
</div>

<div class="DivLargeImage">
<img src="../../../assets/img/Process/TriviaStyleGuide.svg" alt="">
</div>

<h3 id="subWhiteHeadText">High Fidelity Prototype</h3>

<div class="DivLargeImage">
<img src="../../../assets/img/Process/TriviaFinalUiGridAlpha.svg" alt="">
</div>

<div id="Relfex" class="HeadWhiteSkewContainer">
    <img src="../../../assets/img/Process/ReflexHeader.svg" alt="">
</div>

<h3 id="subWhiteHeadText">Ideation and User Flow</h3>

<div class="BasicWhiteText">
    <p>Our team sought inspiration for the game's art, focusing on incorporating both Chicago landmarks and NASCAR branding. Then, we began sketching out the game art and making our user flow for our game.
    </p>
</div>

<div class="DivLargeImage">
<img src="../../../assets/img/Process/ReflexMainGridImg.svg" alt="">
</div>

<h3 id="subWhiteHeadText">User Testing</h3>

<div class="TestGridRow">
    <img id="TestGridRowItem" src="../../../assets/img/Process/ReflexMoonImg.svg" alt="">
    <img id="TestGridRowItem" src="../../../assets/img/Process/ReflexLeahImg.svg" alt="">
    <ul id="TestGridRowItem">
        <li id="NoStyle">
            Our programmers developed a low-fidelity prototype that tracked players' reaction time while incorporating the game art sketches. We then conducted testing with our classmates, receiving positive feedback on the prototype and things to consider.
        </li>
    </ul>
</div>

<h3 id="subWhiteHeadText">Low Fidelity Sketches</h3>
<div class="BasicWhiteText">
    <p>Next, we started wireframing our UI for the reaction game, undergoing numerous revisions and iterations to refine the designs into higher fidelity versions.
    </p>
</div>

<div class="DivLargeImage">
<img src="../../../assets/img/Process/ReflexUiSketchesGridAlpha.svg" alt="">
</div>

<h3 id="subWhiteHeadText">Medium Fidelity Sketches</h3>

<div class="BasicWhiteText">
    <p>As our designs evolved towards higher fidelity, we gathered feedback within our teams to enhance the overall quality and what iterations we should lean torwards. Suggestions included adjusting the background screen color, integrating more Chicago staples into the game art, and simplifying the menu screen design.
    </p>
</div>

<div class="DivLargeImage">
<img src="../../../assets/img/Process/ReflexUiMediumGridAlpha.svg" alt="">
</div>

<div id="Trivia" class="HeadWhiteSkewContainer">
    <img src="../../../assets/img/Process/WebAppHeader.svg" alt="">
</div>

<div class="WebTextHeading">
<h3 id="subWhiteHeadText">User Flow</h3>
<p class="BasicWhiteText">
    The main goal of the Web app is to easily navigate people to the following links:</p>
<ul class="BookUlContent">
    <li>
        The three deliverables: Trivia, Reflex Game, and Activity Book pages
    </li>
    <li>       
        The Team page 
    </li>
    <li>
        The Process page
    </li>
    <li>
        The NASCAR Chicago Street Race
    </li>
</ul>
</div>

<div class="DivLargeImage">
<img src="../../../assets/img/Process/WebUserflowAlpha.svg" alt="">
</div>

<h3 id="subWhiteHeadText">Low and Medium Fidelity Prototypes</h3>

<div class="DivLargeImage">
<img src="../../../assets/img/Process/WebMainGridImg.svg" alt="">
</div>

<h3 id="subWhiteHeadText">Final Prototype</h3>
<p class="BasicWhiteText">
    The design of the Web App was inspired by the NASCAR logo.
</p>

<div class="DivLargeImage">
<img src="../../../assets/img/Process/WebUiFinalImg.svg" alt="">
</div>

<p class="BasicWhiteText">
    Hovering Animation Desktop
</p>

<div class="DivLargeImage">
<img src="../../../assets/img/Process/WebUiFinalSmallImg.svg" alt="">
</div>

<div id="finalSection" class="ProcessNav">
    <hr>
    <div  class="SkewBox">
       <img class="overviewButton" data-target="overviewSection" id="active" src="../../../assets/img/Process/NavOverview.svg" alt="">
    </div>
    <div  class="SkewBox">
        <img class="approachButton" data-target="approachSection" src="../../../assets/img/Process/NavApproach.svg" alt="">
    </div>
    <div class="SkewBox">
        <img class="researchButton" data-target="researchSection" id="tall" src="../../../assets/img/Process/NavResearch.svg" alt="">
    </div>
    <div class="SkewBox">
        <img class="personButton" data-target="personSection" src="../../../assets/img/Process/NavPerson.svg" alt="">
    </div>
    <div class="SkewBox">
        <img class="interviewButton" data-target="interviewSection" id="tall" src="../../../assets/img/Process/NavInterview.svg" alt="">
    </div>
    <div class="SkewBox">
        <img class="processButton" data-target="processSection" src="../../../assets/img/Process/NavProcess.svg" alt="">
    </div>
    <div class="SkewBox">
        <img class="finalButton" data-target="finalSection" id="tall" src="../../../assets/img/Process/NavYellowFinal.svg" alt="">
    </div>
</div>

<div id="FinalBook" class="HeadWhiteSkewContainer">
    <img src="../../../assets/img/Process/FinalBookHeading.svg" alt="">
</div>

<div class="DivLargeImage">
<img src="../../../assets/img/Process/PlaceHolder.svg" alt="">
</div>

<div id="FinalTrivia" class="HeadWhiteSkewContainer">
    <img src="../../../assets/img/Process/FinalTriviaHeading.svg" alt="">
</div>

<div class="DivLargeImage">
<img src="../../../assets/img/Process/PlaceHolder.svg" alt="">
</div>
<div id="FinalBook" class="HeadWhiteSkewContainer">
    <img src="../../../assets/img/Process/FinalReflexHeading.svg" alt="">
</div>

<div class="DivLargeImage">
<img src="../../../assets/img/Process/PlaceHolder.svg" alt="">
</div>
</div>

<div class="MobileContent">
    <div class="Tab">
        <img src="../../../assets/img/Process/Mobile/OverviewTab.svg" alt="">
    </div>
    <div class="MobileText">
        <p>
            The Columbia College Chicago IAM Team's capstone project is a dynamic collaboration involving students from diverse disciplines united in a partnership with NASCAR Chicago. Over the Spring 2024 semester, 
            the student team created three engaging products tailored for families attending the street race event. From interactive trivia challenges testing your NASCAR knowledge to thrilling time reaction games pitting 
            you against legendary drivers, the students focused on crafting experiences that promised excitement and entertainment. Additionally, they produced a captivating and educational print publication to delight younger attendees with its engaging content.
        </p>
    </div>
    <div class="Tab">
        <img src="../../../assets/img/Process/Mobile/ChallengeTab.svg" alt="">
    </div>
    <div class="MobileText">
        <p>
            Develop a web-based app featuring family-friendly activities and games. The goal is to broaden the audience, provide educational content.
        </p>
    </div>
    <div class="Tab">
        <img src="../../../assets/img/Process/Mobile/ScopeTab.svg" alt="">
    </div>
    <div class="MobileText">
        <p>
            Research, Ideation, Brand Design, UI Design, Publication Design, Prototyping, User Testing, Programming, and Implementation.
        </p>
    </div>
    <div class="Tab">
        <img src="../../../assets/img/Process/Mobile/TimelineTab.svg" alt="">
    </div>
    <div class="MobileText">
        <p>
            15 weeks, January 2024 - May 2024 
        </p>
    </div>
    <div class="CenterImg">
        <img src="../../../assets/img/Process/Mobile/TimelineVertical.svg" alt="">
    </div>
    <div class="Tab">
        <img src="../../../assets/img/Process/Mobile/ApproachTab.svg" alt="">
    </div>
    <div class="MobileText">
        <p>
        The team conducted comprehensive 
        research to define the scope of their 
        project and establish clear deliverables. 
        For the Trivia challenge, they developed 
        diverse questions spanning key moments 
        in NASCAR history, notable drivers, track 
        facts, and more. In crafting the Reflex 
        Game, the students honed their design to provide an immersive experience that 
        pits players against legendary drivers by testing participants' reflexes and agility 
        and creating a thrilling and competitive experience. The Activity Book and Downloadable Activity Pages feature illustrations, activities, and informative 
        content related to NASCAR Chicago, 
        aiming to foster learning among 
        participants of all ages.
        </p>
    </div>
    <div class="Tab">
        <img src="../../../assets/img/Process/Mobile/ResearchTab.svg" alt="">
    </div>
    <div class="CenterImg">
        <img id="SmallImg" src="../../../assets/img/Process/ResearchImgSolid.svg" alt="">
    </div>
    <div class="MobileText">
        <p>
            First we researched everything there was to know about NASCAR as a whole to get to know our client better. 
            <br>
            <br>
            Using Mural, we created various sections: NASCAR, NASCAR Kids, NASCAR 101, NASCAR Chicago, Demographics, Miscellaneous, and Past Marketing Educational Incentives.  
            <br>
            <br>
            Under those sections we made post its that helped differentiate our information in an organized method.            
        </p>
    </div>
    <div class="Tab">
        <img src="../../../assets/img/Process/Mobile/SwotTab.svg" alt="">
    </div>
    <div class="CenterImg">
        <img id="SmallImg" src="../../../assets/img/Process/SwotMainImgSolid.svg" alt="">
    </div>
    <div class="CenterRowImg">
        <img id="LeftRowImg" src="../../../assets/img/Process/SwotPostNoteImg.svg" alt="">
        <img id="RightRowImg" src="../../../assets/img/Process/SwotTeamImg.svg" alt="">
    </div>
    <div class="MobileText">
        <p>
            Along with our initial research we proceeded 
            to do a SWOT analysis on our brand to better understand the current state and potential for success for strategic decision making in the design process.                       
        </p>
    </div>
    <div class="Tab">
        <img src="../../../assets/img/Process/Mobile/ScreenTab.svg" alt="">
    </div>
    <div class="MobileText">
        <p>
            We launched two distinct surveys as part of our research strategy to comprehensively understand our audience and gather essential data. One survey targeted festival-goers, while the other was tailored specifically for NASCAR fans. The festival screener survey successfully reached 50 participants, while the NASCAR screener reached 10 respondents. These surveys proved invaluable in gauging people's interests and provided profound insights into the potential reception of our interactive digital experiences.                      
        </p>
    </div>

    <h1 class="MobileHead">Festival Screener</h1>

    <div class="CenterImg">
        <img id="SmallImg" src="../../../assets/img/Process/Mobile/FestivalScreenVertical.svg" alt="">
    </div>

    <h1 class="MobileHead">NASCAR Screener</h1>
    <div class="CenterImg">
        <img id="SmallImg" src="../../../assets/img/Process/Mobile/NascarScreenVertical.svg">
    </div>

    <div class="Tab">
        <img src="../../../assets/img/Process/Mobile/CompTab.svg" alt="">
    </div>
    <div class="MobileText">
        <p>
            Following the surveys, we conducted a Competitive Analysis focusing on other motorsports such as Formula 1 and IndyCar. Utilizing a SWOT analysis framework, we evaluated their strengths, weaknesses, opportunities, and threats. This process was instrumental in refining our design ideas and ensuring that our interactive digital experiences stand out in the competitive landscape.                     
        </p>
    </div>
    <div class="CenterImg">
        <img id="SmallImg" src="../../../assets/img/Process/Mobile/RedSwot.svg">
    </div>
    <div class="CenterImg">
        <img id="SmallImg" src="../../../assets/img/Process/Mobile/BlueSwot.svg">
    </div>
    <div class="Tab">
        <img src="../../../assets/img/Process/Mobile/PersonTab.svg" alt="">
    </div>
    <div class="MobileText">
        <p>
            We then proceeded to create Personas 
            to ensure our design process remained human-centered. Each persona was crafted based on their goals, motivations, fears, frustrations, tasks, needs, and level of technological proficiency.                   
        </p>
    </div>
    <div class="CenterImg">
        <img id="SmallImg" src="../../../assets/img/Process/Mobile/Person1.svg">
    </div>
    <div class="CenterImg">
        <img id="SmallImg" src="../../../assets/img/Process/Mobile/Person2.svg">
    </div>
    <div class="CenterImg">
        <img id="SmallImg" src="../../../assets/img/Process/Mobile/Person3.svg">
    </div>
    <div class="Tab">
        <img src="../../../assets/img/Process/Mobile/InterviewTab.svg" alt="">
    </div>
    <div class="MobileText">
        <p>
            We conducted three user interviews with participants from the surveys. One interview was with Joe, a passionate NASCAR fan, while the other two were with festival-goers. These interviews provided us with invaluable qualitative insights into the preferences, experiences, and expectations of our target audience, allowing us to further refine our design approach and ensure its alignment with user needs and desires.            
        </p>
    </div>
    <div class="CenterImg">
        <img id="SmallImg" src="../../../assets/img/Process/Mobile/InterviewJoe.svg">
    </div>
    <div id="Header" class="MobileText">
        <p>
            Understanding Festival-Goer Preferences               
        </p>
    </div>
    <div class="CenterImg">
        <img id="SmallImg" src="../../../assets/img/Process/Mobile/InterviewLaura.svg">
    </div>
    <div class="CenterImg">
        <img id="SmallImg" src="../../../assets/img/Process/Mobile/InterviewErik.svg">
    </div>
    <div class="Tab">
        <img src="../../../assets/img/Process/Mobile/ProcessTab.svg" alt="">
    </div>
    <div class="MobileText">
        <p>
            Learn more about each of the deliverable’s process by clicking on the buttons below.              
        </p>
    </div>
    <div class="CenterImg">
        <a href="../../../assets/img/Process/BookMobilePDF.pdf"><img id="Link" src="../../../assets/img/Process/Mobile/BookLink.svg"></a>
    </div>
    <div class="CenterImg">
        <a href="../../../assets/img/Process/ReflexMobilePDF.pdf"> <img id="Link" src="../../../assets/img/Process/Mobile/ReflexLink.svg"></a>
    </div>
    <div class="CenterImg">
        <a href="../../../assets/img/Process/TriviaMobilePDF.pdf"> <img id="Link" src="../../../assets/img/Process/Mobile/TriviaLink.svg"></a>
    </div>
    <div class="CenterImg">
        <a href="../../../assets/img/Process/WebappMobilePDF.pdf"> <img id="Link" src="../../../assets/img/Process/Mobile/WebAppLink.svg"></a>
    </div>

    <div class="Tab">
    <img id="Link" src="../../../assets/img/Process/Mobile/HeaderFinalDeliverable.svg">
    </div>

    <div class="MobileText">
        <p>
            View the final deliverables by clicking on the buttons below.              
        </p>
    </div>

    <div class="CenterImg">
        <a href="../../../assets/img/Process/BookMobilePDF.pdf"><img id="Link" src="../../../assets/img/Process/Mobile/BookLink.svg"></a>
    </div>
    <div class="CenterImg">
        <a href="../../../assets/img/Process/ReflexMobilePDF.pdf"> <img id="Link" src="../../../assets/img/Process/Mobile/ReflexLink.svg"></a>
    </div>
    <div class="CenterImg">
        <a href="../../../assets/img/Process/TriviaMobilePDF.pdf"> <img id="Link" src="../../../assets/img/Process/Mobile/TriviaLink.svg"></a>
    </div>
    <div class="CenterImg">
        <a href="../../../assets/img/Process/WebappMobilePDF.pdf"> <img id="Link" src="../../../assets/img/Process/Mobile/WebAppLink.svg"></a>
    </div>
</div>