#base{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #00294A;
    overflow: unset;
}

#game{
    width: 100%;
    height: 100%;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:0;
    position: absolute;
    width: 90%;
    height: auto;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#trivia{
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    color:white;
}

#home-button{
    position: absolute;
}

#level-select{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #00294A;
}

#level-select-bg{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#logos{
    position: absolute;
    z-index: 100;
    bottom: 3.79%;
    left:8.2%;
    margin:0;
}

#level-start{
    display: block;
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: auto;
    bottom: 0;
    left: 0;
    margin:0;
}

#overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
}

.button{
    cursor: pointer;
}

/* Minimum width for laptops. */
@media all and (min-width: 769px) {

    #game{
        width: 430px;
        height: 100%;
        margin: auto;
    }

    #level-start{
        width:430px;
        height:auto;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
    }

    #overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
    }

    #menu{
        width: 329px;
    }

    #logos{   
        width: 169.9px;
        height: auto;
        left: 45%;
        transform: translateX(-45%);
    }

    #logos img{
        width: 40%;
    }
  } /* closes 769px+ */
  
  /* Minimum width for desktop screens. */
@media all and (min-width: 1024px) {
  
  } /* closes 1024px+ */
