<div>
  <div id="menu" *ngIf="!levelSelect && !started">
    <div id="container">
      <h1 id="title">
        Welcome to <br />
        NASCAR <br />Chicago<br />
        2024 Trivia!
      </h1>
      <div id="menu-content">
        <button id="start-button">
          <div (click)="StartGame()" id="start-button-text" class="button">
            Start
          </div>
        </button>
      </div>
    </div>
  </div>

  <div id="level-select" *ngIf="levelSelect">
    <div id="buttons">
      <button class="button" (click)="LevelSelect(1)">Easy</button>
      <button class="button" (click)="LevelSelect(2)">Medium</button>
      <button class="button" (click)="LevelSelect(3)">Hard</button>
    </div>
  </div>

  <div id="trivia" *ngIf="started">
    <div id="trivia-content">
      <div id="progress">{{ questionNum }}/5</div>
      <div id="timer">0</div>
      <div id="score">{{ score }} pts</div>
      <div id="question"></div>
      <div id="answers"></div>
    </div>
  </div>
</div>
