#container{
    background: #000000;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#mobile{
    display: block;
}

#desktop{
    display: none;
}

#header{
}


/* Minimum width for laptops. */
@media all and (min-width: 769px) {
    #desktop{
        display: block;
        overflow: hidden;
    }

    #container{
        overflow: hidden;
    }
    #mobile{
        display: none;
    }
  } /* closes 769px+ */
  
/* Minimum width for desktop screens. */
@media all and (min-width: 1024px) {
    
  } /* closes 1024px+ */