<div
  class="trivia"
  [ngClass]="{
    'trivia-round-1': difficulty === 1,
    'trivia-round-2': difficulty === 2,
    'trivia-round-3': difficulty === 3
  }"
>
  <div
    id="score"
    [ngClass]="{
      'content-bg-r1': difficulty === 1,
      'content-bg-r2': difficulty === 2,
      'content-bg-r3': difficulty === 3
    }"
  >
    {{ score }} pts
  </div>
  <div id="timer">
    <p>{{ timer }}</p>
  </div>
  <div
    id="content"
    [ngClass]="{
      'content-bg-r1': difficulty === 1,
      'content-bg-r2': difficulty === 2,
      'content-bg-r3': difficulty === 3
    }"
  >
    <p id="question-text">{{ questions[questionNum]?.questionText }}</p>
    <div id="answer-box">
      <div
        class="answer-choice-long button"
        *ngFor="let option of questions[questionNum]?.options"
        (click)="Answer(questionNum + 1, option)"
      >
        {{ option.text }}
      </div>
    </div>
  </div>
</div>
