#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
    margin:0;
    position: absolute;
    width: 90%;
    height: auto;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#trivia{
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    color:white;
}

#menu-content, #trivia-content, #end-screen-content{
    background: #DAF0F8;
    width: 100%;
    height: 50%;
    border-radius: 25px;
    z-index: 1;
}

.button{
    cursor: pointer;
}

#trivia{
    padding: 5em;
}

li{
    list-style-type: none;
    cursor: pointer;
    margin: 10px 0;
}

.answer-choice{
    color: white;
    width:70%;
    transform: skewX(-15deg);
    background: #00294A;
    border: 5px solid #FFFFFF;
    border-radius: 10px;
    box-shadow: -4px 7px #4E4E4E;
    text-align: center;
}

#question{
    color: black;
}

/* Minimum width for laptops. */
@media all and (min-width: 769px) {

  } /* closes 769px+ */
  
  /* Minimum width for desktop screens. */
  @media all and (min-width: 1024px) {
  
  } /* closes 1024px+ */