.menu {
    background-image: url(./assets/img/ChicagoSRW_BG_Pattern_Light_Big_02.jpg);
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.menu .btn {
    border: none;
    background: blanchedalmond;
    font-size: 1em;
    padding: auto;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 4px;
    cursor: pointer;
    width: 200px;
}

.menu-content{
    /* border: 1px solid black; */
    width: 95vw;
    background: white;
    opacity: 0.8;
    
}
#btn-box{
    /* border: 1px solid black; */
}

.container, #too-soon-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
    margin:0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.clickable-area {
    height: 100vh;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    color: black;
    display: grid;
    place-items: center;
    font-size: 2em;
    position: relative;
}

.start {
    background: white url(./assets/img/start.png) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    color: black;
    display: grid;
    place-items: center;
    font-size: 2em;
    position: relative;
}

.mid {
    background: white url(./assets/img/mid.png) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    color: black;
    display: grid;
    place-items: center;
    font-size: 2em;
    position: relative;
}

.click {
    background: white url(./assets/img/click.png) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    color: black;
    display: grid;
    place-items: center;
    font-size: 2em;
    position: relative;
}

#overlay{
    position: fixed;
    display: block;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}

#too-soon-content{
    width: 84.28%;
    height: 54.11%;
    height: 504.36px;
    background: #D9D9D9;
    border: 14px solid #FFFFFF;
    border-radius: 22px;
    container: flex;
}

#pop-up-title {
    height: 25%;
    top: 10%;

    font-family: 'Neue Haas Grotesk Display Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    /* identical to box height */
    text-align: center;

    color: #000000;


}

#pop-up-flag{
    height: 25%;
    width: 226px;
    left: calc(50% - 226px/2 - 1px);
    top: 36.27%;
    bottom: 52.69%;


}

#pop-up-message{
    height: 25%;
    width: 243px;
    height: 58px;
    left: calc(50% - 243px/2 - 0.5px);
    top: calc(50% - 58px/2 + 49px);

    font-family: "neue-haas-grotesk-display", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #000000;


}

#pop-up-button{
    width: 80%;
    height: 10%;
    background: #050606;
    color: #FFFFFF;
    border: 6px solid #FFFFFF;
    transform: skew(-10deg);
    border-radius: 5px;
    left: 10%;
    top: 85%;
}

