#base{
    width: 100vw;
    height: 100vh;
    background: #00294A;    
}

#reaction-game {
    width: 100%;
    height: 100%;
    margin: 0;
    background: #00294A url('./assets/img/reaction-background.svg') no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container, #too-soon-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.clickable-area {
    height: 100%;
    width: 100%;
    cursor: pointer;
    color: black;
    display: grid;
    place-items: center;
    font-size: 2em;
    position: relative;
}

.start {
    background: #00294A url(./assets/img/start.png) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
    cursor: pointer;
    color: black;
    display: grid;
    place-items: center;
    font-size: 2em;
    position: relative;
    z-index: 2;
}

.mid {
    background: #00294A url(./assets/img/mid.png) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
    cursor: pointer;
    color: black;
    display: grid;
    place-items: center;
    font-size: 2em;
    position: relative;
    z-index: 2;
}

.click {
    background: #00294A url(./assets/img/click.png) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
    cursor: pointer;
    color: black;
    display: grid;
    place-items: center;
    font-size: 2em;
    position: relative;
    z-index: 2;
}

#overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
}

#pop-up{
    /* center */
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1000; 

    /* Style */
    width: 84.18%;
    height: 53.6%;
    background: #d9d9d9;
    margin: auto;
    padding: 8.6%, 8.6%;
    border: 14px solid #ffffff;
    border-radius: 22px;

    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
}

#pop-up-title {
    height: 8.6%;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 3.65vh;
    text-wrap: nowrap;
    text-align: center;
    color: #000000;
}

#pop-up-flag{
    width: 62.25%;
    height: 19.89%;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
}

#pop-up-message{
    height: 11.6%;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;

    font-family: "neue-haas-grotesk-display", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2.57vh;
    text-align: center;
    color: #000000;
    line-height: calc(1.2 * 2.57vh);
}

.pop-up-button{
    width: 86%;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;

    
    border: 6px solid #FFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transform: skew(-18deg);
    border-radius: 16px;

    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 900;
    font-size: 4.29vh;
    text-align: center;
    color: #FFF;

    cursor: pointer;

}

#pop-up-btn-instruction{
    background: #03AF51;
}

#pop-up-btn-try-again{
    background: #050606;
}


/* Minimum width for laptops. */
@media all and (min-width: 769px) {
    #reaction-game{
        width: 430px;
        height: 100dvh;
        margin: auto;
    }

    #pop-up{
        width: 370px;
    }
} /* closes 769px+ */

/* Minimum width for desktop screens. */
@media all and (min-width: 1024px) {
} /* closes 1024px+ */