#reaction-game {
    width: 100vw;
    height: 100vh;
    margin: 0;
}



.menu {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-content: flex-end;
    background-image: url(./assets/img/ReactionBackground.svg);
    background-repeat: repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    flex-wrap: nowrap;
}



#Check-Img {
    width: 200px;
    height: 100px;
}

#Title-Img {
    width: 300px;
}

.overlay {
    
    background-color: #093678de;
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    right:0;
    z-index: 0;
    
}

.menu .btn {
    cursor:pointer;
    border:none;
    margin-top: 5px;
}

.menu-content{
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

#btn-box {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: center;
    margin-right: 10px;
    margin-left: 10px;
    height: 100%;
}

#play-btn {
    background-image: url(./assets/img/YellowButton.svg);
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0);
    background-size: cover;
    border: none;
    height: 60px;
    width: 255px;
    margin: 5px;
}

#leader-board-btn {
    background-image: url(./assets/img/RedButton.svg);
    background-repeat: no-repeat;
    background-color: none;
    background-color: rgba(255, 255, 255, 0);
    background-size: cover;
    border: none;
    height: 60px;
    width: 235px;
    margin: 5px;
}

#home-btn {
    background-image: url(./assets/img/BlueButton.svg);
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0);
    background-size: cover;
    border: none;
    height: 55px;
    width: 205px;
    margin: 5px;
}

.footer {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    float: right;
    align-items: center;
    width:39.69%;
    margin-right: 0;
    margin-left: 60%;
}

.footer img{
    width: 50%;
    padding-left: 20px;
}

.container, #too-soon-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.clickable-area {
    height: 100%;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    color: black;
    display: grid;
    place-items: center;
    font-size: 2em;
    position: relative;
}

.start {
    background: url(./assets/img/start.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    color: black;
    display: grid;
    place-items: center;
    font-size: 2em;
    position: relative;
}

.mid {
    background: white url(./assets/img/mid.png) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    color: black;
    display: grid;
    place-items: center;
    font-size: 2em;
    position: relative;
}

.click {
    background: white url(./assets/img/click.png) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    color: black;
    display: grid;
    place-items: center;
    font-size: 2em;
    position: relative;
}

#overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
}

#pop-up{
    /* center */
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1000; 

    /* Style */
    width: 84.18%;
    height: 53.6%;
    background: #d9d9d9;
    margin: auto;
    padding: 8.6%, 8.6%;
    border: 14px solid #ffffff;
    border-radius: 22px;

    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
}

#pop-up-title {
    height: 8.6%;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 3.65vh;
    text-wrap: nowrap;
    text-align: center;
    color: #000000;
}

#pop-up-flag{
    width: 62.25%;
    height: 19.89%;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
}

#pop-up-message{
    height: 11.6%;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;

    font-family: "neue-haas-grotesk-display", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2.57vh;
    text-align: center;
    color: #000000;
    line-height: calc(1.2 * 2.57vh);
}

.pop-up-button{
    width: 86%;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;

    
    border: 6px solid #FFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transform: skew(-18deg);
    border-radius: 16px;

    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 900;
    font-size: 4.29vh;
    text-align: center;
    color: #FFF;

    cursor: pointer;

}

#pop-up-btn-instruction{
    background: #03AF51;
}

#pop-up-btn-try-again{
    background: #050606;
}


/* Minimum width for laptops. */
@media all and (min-width: 769px) {
    #reaction-game{
        width: 800px;
        height: 100vh;
        margin: auto;
    }

    #pop-up{
        width: 700px;
    }
} /* closes 769px+ */

/* Minimum width for desktop screens. */
@media all and (min-width: 1024px) {
} /* closes 1024px+ */