#links{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:flex-start;
    width: 100vw;
    height: 21.38vh;
}

#background{
    display: block;
    position:absolute;
    height: 100%;
    width: 79.1%;
    right:0;
    top:0;
    z-index: -1;
}

#blurb{
    box-sizing: content-box;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    height: 30vh;
}

#activity{
    width: 35.65%;
    height: 100%;
}

#reaction{
    width: 34.6%;
    height: 100%;
}

.trivia{
    width: 24.47%;
    height: 100%;
}

#trivia-about{
    
    position: absolute;
    bottom: 0;
    left: 0;
    width: 39.5vw;
    height: 100vh;
    cursor: pointer;
    z-index: 3000;
}

#reaction-about{
    width: 50vw;
    height: 100vh;
    position: absolute;
    bottom: 0;
    left: 26.8vw;
    cursor: pointer;
    z-index: 3000;
}

#activity-about{
    position:absolute;
    bottom: 0;
    right: 0;
    width: 35.65vw;
    height: 100vh;
    cursor: pointer;
    z-index: 3000;
}

@media all and (min-width: 1512px) {
    /* #test{
        width: 38.825%;
        clip-path: polygon(0 0, 100% 0%, 53.1% 100%, 0% 100%);
    } */
  } 

@media all and (min-width: 1920px) {
    /* #test{
        clip-path: polygon(0 0, 88% 0%, 53% 100%, 0% 100%);
    } */
  } 