#container{
    background: #000000;
    width: 100%;
    height: 100%;
    font-family: "neue-haas-grotesk-display", sans-serif;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5%;
}
#logo-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#columbia-logo{
    width: 58.36%;
}

#nascar-logo{
    width: 16.94%;
}

#x-copy{

font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
text-align: center;

}

#blurb{
    display: flex;
    flex-direction: column;
    margin-left: 7.44%;
    padding: 0;
    width: 61.79%;
    gap: 7.18px;
}
 #hook{
    font-style: italic;
 }
#ticket-link{
    color: #FAF075;
}

#copy{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;

    color: #FFFFFF;
}
#m-link-box{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 5.95%;
    width: 100%;
    height: 60.86%;
}
#trivia-box{
    width: 100%;
    height: 22.87%;
    background: #FFDB3B;
    clip-path: polygon(0 0, 100% 0%, 91% 100%, 0% 100%);
    padding-left: 6%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#reaction-box{
    width: 89.37%;
    height: 28.07%;
    background: #F2000A;
    clip-path: polygon(0 0, 100% 0%, 88% 100%, 0% 100%);
    padding-left: 6%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#activity-box{
    width: 78.63%;
    height: 37.14%;
    background: #2D5FA8;
    clip-path: polygon(0 0, 98% 0%, 80% 100%, 0% 100%);
    padding-left: 6%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

#reaction-content{
    width: 70.71%;
}

#reaction-copy {

    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: left;
}

#reaction-content h1{
    font-style: italic;
    font-weight: 600;
    font-size: 25px;
    line-height: 31px;
}

#activity-content{
    width: 70.71%;
}

#activity-copy {

    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: left;
}

#activity-content h1{
    font-style: italic;
    font-weight: 600;
    font-size: 25px;
    line-height: 31px;

}

#trivia-content{
    width: 70.71%;
    color: #000000;
}

#trivia-copy {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: left;
}

#trivia-content h1{
    font-style: italic;
    font-weight: 600;
    font-size: 25px;
    line-height: 31px;
}

/* Minimum width for desktop screens. */
@media all and (max-height: 668px) {
        #x-copy{
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 32px;
        text-align: center;
        
        }
        #reaction-copy {
            font-size: 12px;
            line-height: 15px;
        }
        
        #reaction-content h1{
            font-style: italic;
            font-weight: 600;
            font-size: 18px;
            line-height: 20px;
        }

        #trivia-copy {
            font-size: 12px;
            line-height: 12px;
        }
        
        #trivia-content h1{
            font-size: 16px;
            line-height: 28px;
        }

        #activity-copy {
            font-size: 12px;
            line-height: 15px;
        }
        
        #activity-content h1{
            font-size: 16px;
            line-height: 16px;
        }
} /* closes 1024px+ */