<div id="container">
  <app-header></app-header>
  <div id="m-link-box">
    <svg
      id="m-trivia"
      viewBox="0 0 390 110"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M 390.001 0.4922 L 0.0086 0.5273 L 0.0086 109.48 L 360.18 109.483 L 390.001 0.4922 Z"
        fill="#FFDB3B"
      />
    </svg>

    <svg
      id="m-reaction"
      viewBox="0 0 352 159"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M351.578 0.582031L-29.9364 0.632916L-73.2871 158.561L308.352 158.565L351.578 0.582031Z"
        fill="#F2000A"
      />
    </svg>

    <svg
      id="m-activity"
      viewBox="0 0 297 188"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M296.837 0.03125L-159.989 0.0915345L-211.348 187.194L245.626 187.199L296.837 0.03125Z"
        fill="#2D5FA8"
      />
    </svg>
  </div>
</div>
