/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
    font-family: "neue-haas-grotesk-display", sans-serif;
}

body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

a {
    text-decoration: none;
}
html, body { height: 100%; }
body { margin: 0; font-family: "neue-haas-grotesk-display", sans-serif; }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
