
#leaderboard{
  height: 100%;
  width: 100%;
  font-family: "neue-haas-grotesk-display", sans-serif;
}

#content{
  display: flex;
  width: 84.73%;
  height: 85.32%;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 1%;

  position:absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
}

#title{
  position: relative;
  width: 98.2%;
  height: 10%;
  background: #000000;
  border: 6px solid #FFFFFF;
  transform: skew(-14deg);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#title p{
  color: #FFF;
  font-size: 52px;
  font-style: italic;
  font-weight: 900;
  line-height: 52px;
  text-align: center;
}

#scores{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2%;
  width: 100%;
  height: 59%;
  justify-content: center;
  align-items: center;
}

#score{
  width: 100%;
  height: 18%;
  display: flex;
  flex-direction: row;
  background: #D9D9D9;
  border-radius: 19px;
  border: 6px solid #FFFFFF;
  justify-content: space-evenly;
  align-items: center;
}

#avatar{
  height: 100%;
  width: 100%;
}

#avatar-box{
  position: relative;
  width: 14.6%;
  height: 68.11%;
  border-radius: 50%;
}

#nascar-label{
  position:absolute;
  width: 95.48%;
  height: 64.27%;
  bottom: -30%;
  left: 50%;
  transform: translateX(-50%);

}

#username{
  box-sizing: content-box;
  width:44.745%;
  line-height: 20px;
  text-wrap:nowrap;

  font-size: 18px;
  font-style: normal;
  font-weight: 450;
}

#time{
  width: 28.03%;
  height: 56.84%;
  border-radius: 15px;
  background-color: #00294A;

  display: flex;
  justify-content: center;
  align-items: center;
}

#time p{
  color: #FFFFFF;

  line-height: 20px;

  font-size: 20px;
  font-style: normal;
  font-weight: 450;
  margin: 0;
}

#paginator{
  box-sizing: content-box;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  width: 27.327%;
  height: 4.5%;
  border: 3px solid #FFFFFF;
  background: #D9D9D9;
  border-radius: 7px;
}

.v-line{
  height: 81.81%;
  width: 1.098%;
  background: #FFFFFF;
}

#page-num{
  color: #FFFFFF;

  line-height: 2.58vh;

  font-size: 2.58vh;
  font-style: normal;
  font-weight: 450;
  margin: 0;
}

#back-arrow{
  box-sizing: content-box;
  width: 13.186%;
  height: 45.45%;
  cursor: pointer;
}

#next-arrow{
  box-sizing: content-box;
  width: 13.186%;
  height: 45.45%;
  cursor: pointer;
}

#nav-bar{
  box-sizing: content-box;
  width: 100%;
  height: 14.32%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  margin-left: auto;
  margin-right: auto;
  gap: 2vw;
}

#home-icon{
  width: 29.129%;
  height: 89.32%;
  padding: 0;
  border: none;
  margin: 0;
  cursor: pointer;
}

#leaderboard-icon{
  width: 37.23%;
  height: 100%;
}

/* Minimum width for laptops. */
@media all and (min-width: 769px) {
  #leaderboard{
    width: 430px;
    height: 100dvh;
    margin: auto;
  }

  #content{
    width: 361px;
    height: 100dvh;
    margin: auto;
  }
} /* closes 769px+ */

/* Minimum width for desktop screens. */
@media all and (min-width: 1024px) {

} /* closes 1024px+ */